body {
  margin: 0 auto;
}

.page-header {
  background-color: black;
  border-bottom: 1px solid black;
  position: fixed;
  margin: 0;
  width: 100%;
  z-index: 1;
}

#logo-menu img{
  margin-left: 30px;
  margin-top: 8px;
  float: left;
}

#menu-bar li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 18px;

}

#menu-bar a {
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

#background-video {
  background-color: #E8E8E8;
  padding-top: 63px;
}

#profile-photo {
  position: absolute;
  top: 200px;
  left: 515px;
}

#profile-photo h3 {
  background-color: #E8E8E8;
  font-family: cursive;
  border-radius: 25px;
  text-align: center;
  margin-left: -10px;
  padding: 5px 0 2px;
  font-size: 20px;
  color: black;
}

.page-footer {
  background-color: #E8E8E8;
  font-family: cursive;
  text-align: center;
}

.page-footer h5{
  padding: 10px 0;
  margin: 0;
}
